---
layout: null
---

{% include_relative skeleton/css/normalize.css %}
{% include_relative skeleton/css/skeleton.css %}

body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Noto Serif', Georgia, "Bitstream Charter", "Charis SIL", Utopia, "URW Bookman L", serif;
    box-sizing: border-box;
    color: #333;
}

* {
    box-sizing: inherit;
}

a:link, a:visited {
    text-decoration: none;
    color: #09c;
}

p {
    margin-bottom: 2rem;
}

a:hover {
    opacity: 0.4;
}

ul, ol {
    list-style-position: outside;
    padding-left: 1.5em;
}

li {
    margin: 0;
}

h1,h2,h3,h4,h5 {
    font-size: 2.5em;
    font-weight: 800;
    padding: 0 0 0.2em 0;
    margin: 0;
}

h2, h3, h4, h5 {
    font-size: 1em;
}

h1 {
    padding: 0.25em 0 0.5em 0;
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
}

.wide {
    max-width: 100%;
    width: 65rem;
    margin: 0 auto;
}

#return_home {
    font-size: 2em;
}

main {
    padding: 8em 2em 4em 2em;
}
main time {
    display: inline;
    color: #999;
    margin: 0;
    line-height: 1;
    padding-left: 0.2em;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
}
iframe, .stlwv2-model {
    border: 1px solid #ddd;
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
}
.MathJax_Display {
    margin: 3em 0 !important;
}

@media (min-width: 550px) {
    iframe, .stlwv2-model {
        height: 40rem;
    }
}
@media (min-width: 1000px) {
    iframe, .stlwv2-model {
        height: 50rem;
    }
}
@media (min-width: 1400px) {
    html {
        font-size: 62.5%;
    }
}
